@model RequintoBaldeonWeb.Models.TUSUARIOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TUSUARIOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usu_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_administrador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_administrador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usu_observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usu_observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
